<%- include('../partials/header'); %>
<div class="sidebar-side">
    <%- include('../partials/sidebar'); %>
</div>
<div class="contant-side">
    <div class="navbar-div ">
    <%- include('../partials/navbar'); %></div>
    <div class="show-div">
    <%- include('../dashboard/card'); %>
    <%- include('../dashboard/chart'); %></div>
<script src="/js/script.js"></script>
</div>