
<%- include('../partials/header'); %>
<div class="sidebar-side">
    <%- include('../partials/sidebar'); %>
</div>
<div class="contant-side">
    <div class="navbar-div ">
        <%- include('../partials/navbar'); %></div>
    <div class="show-div">  
         <%- include('../skills/addSkills'); %> 
        <%- include('../skills/skillsTable'); %>
        <%- include('../position/pagination.ejs'); %> 
    </div>
    <script src="/js/skills.js"></script>
    <script src="/js/script.js"></script>

</div>
